.banner{
   
    margin: 0 auto;
    
}
.banner img{
    
    /* height: 500px; */
    width: 95%;
    
}
@media screen and (max-width:500px) {
    .banner img{
        width: 85%;
        align-items: center;
        align-content: center;
    }
}